<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>

    </style>
</head>
<body>

<div class="content box-shadow-animation">
    <div class="category">
        <h2>კატეგორიები</h2>
        <ul>
            {% for category in categories %}
                <li>
                    <p>კატეგორია: {{ category.id }}</p>
                    <a href="{% url 'category_products' category.id %}">{{ category.name }}</a>
                </li>
                <li>
                    <p>პროდუქტების რაოდენობა: {{ category.subcategories_product_count }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>
